:root {
	--fontHeight: 200px;
	--color: white;
	--tri: 80px;
	--test: red;
	--backgroundColor: black;
}

/*------------ BASIC SHIT*/
body {
	background-color: var(--backgroundColor);
	cursor: pointer; 
	margin-left: 20%;
}

.bodyCopy {
	color: var(--color);
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 15px;
}

.letterwrap {
	overflow: hidden;
}

.letter {
	float: left;
	min-height: 100px;
	width: 0px;
	margin: 30px;
	width: 10%; 
}

.bigWrap { 
/*	width: 90%;*/
	margin: 0 auto;
}

.headerwrap {
	min-height: 25%;
	background:transparent; 
}

.test {
	height: 300px;
	width: 300px;
	background-color: var(--test);
}

.letterGrid {
	display: grid;
	grid-template-columns: 50px 10fr 10fr;
	grid-template-rows: 50px 10fr;
}

/*
------------SHAPES CLASS NAME STYLE GUIDE

T=TOP
B=BOTTOM
L=LEFT
R=RIGHT
D=DOWN
U=UP

//RIGHT TRAPEZOIDS//
>> CONTAINS (2) RIGHT ANGLES IN SHAPE 
>> NON-RIGHT ROTATIONES SHOULD INDICATE ROTATION DEG IN CLASS NAME
U/D indicates point direction if right angle rotation
L/R indicates position


//STANDARD TRAPEZOID//
>> NO RIGHT ANGLES CONTAINED IN SHAPE
>> NON-RIGHT ROTATIONS SHOULD INDICATE ROTATION DEG IN CLASS NAME
L/R indicates face direction
L/R indicates position
>> ALWAYS, FACE DIRECTION, THEN POSITION. IN THIS ORDER ONLY. 

// TRIANGLES //
T/B indicates position
L/R indicates position
U/D indicates point direction

//SQUARES//
T/B indicates position
L/R indicates position

*/

.trapUL {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
}

.trapULH1 {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trapULH2 {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.trapULL {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trapULL2 {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trapUR {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trapURA {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.trapDL {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(90deg);
	float: left;
	margin: -10px;
}

.trapDR {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(90deg);
	float: left;
	margin: -10px;
}

.trap45 {
	border-bottom: 25px solid var(--color);
	border-right: 0px solid transparent;
	border-left: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(135deg);
	margin-left: -15px;
	margin-top: -30px;
}

.trap45two {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(135deg);
	margin-left: -15px;
	margin-top: 10px;
}

.triTRD {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -30px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
}

.triTRDL {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -30px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
}

.triBRDE.o-version {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBR {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--color);
	border-left: 25px solid transparent;
}



.triTDR {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--color);
	border-left: 25px solid transparent;
}

.triTRU {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
}

.triBRD {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
}

.triBRDgone {
	margin-left: 45px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
}


.triBRDL2 {
	margin-left: 45px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	;
}

.triBRU {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--color);
	border-right: 25px solid transparent;
}

.triBLU {
	position: relative;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
}

.triBLD {
	position: relative;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--color);
	border-right: 25px solid transparent;
}

.triBRUp {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
}

.sqBR {
	position: absolute;
	float: left;
	width: 25px;
	height: 25px;
	background: var(--color);
	margin-left: 45px;
	margin-top: 7px;
}

.sqTR {
	position: absolute;
	float: left;
	width: 25px;
	height: 25px;
	background: var(--color);
	margin-left: 45px;
	margin-top: -25px;
}

.strapRL {
	border-bottom: 25px solid var(--color);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(270deg);
	height: 0;
	width: 40px;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -10px;
	margin-right: -7px;
}

.strapLR {
	border-bottom: 25px solid var(--color);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(90deg);
	height: 0;
	width: 40px;
	position: relative;
	float: left;
	margin-left: -10px;
	margin-top: -10px;
	margin-right: -7px;
}

.paraLR {
	width: 35px;
	height: 57px;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	background: var(--color);
	position: relative;
	float: left;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -7px;
}

.paraRL {
	width: 35px;
	height: 57px;
	-webkit-transform: skew(135deg);
	-moz-transform: skew(135deg);
	-o-transform: skew(135deg);
	background: var(--color);
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: -30px;
	margin-right: -20px;
}

/*------------EXTRANEOUS SHAPES*/

.triO-add {
	opacity: 0; 
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBRDL2 {
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triTRDE {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -30px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBRDE {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.strapRLE {
	border-bottom: 25px solid var(--color);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(270deg);
	height: 0;
	width: 40px;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -10px;
	margin-right: -7px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trapDRO {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(90deg);
	float: left;
	margin: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.trapURO {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.triH-add {
	opacity: 0;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*------------ANIMATIONS*/


.trapDRO.alt-version {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0px solid transparent;
	max-height: 0;
	max-width: 50px;
	transform: rotate(270deg);
	margin-top: -10px;
	position: absolute;
}

.trapURO.alt2-version {
	margin-left: 45px;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
	border-bottom:none; 
	border-right:none; 
}

.trapURA.a-version {
	transform: rotate(270deg);
	height: 0;
	width: 40px;
	position: absolute;
	float: left;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-left: 30px;
	margin-top: -10px;
}


.triH-add.d-version {
	position: absolute;
	margin-left: 60px;
	margin-top: -60px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
	border-bottom: none;
	border-left:none; 
	opacity: 1;
}

.trapULH2.b-version {
	margin-left: 5px;
	margin-top: 8px;
	max-width: 0;
	max-height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;
	border-bottom: none;
	border-left: none;

}

.strapRLE.o-version {
	border-bottom: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	float: left;
	margin: -10px;
}

.trapULL.o-version {
	position: absolute;
	margin-left: 5px;
	margin-top: -30px;
	max-height: 0;
	max-width: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
	border-right: none;
	border-bottom: none;
}

.triBRDgone.gone-version {
	position: absolute;
	margin-left: 80px;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
	border-right: none;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBRU.c-version {
	position: absolute;
	margin-left: 10px;
	margin-top: 3px;
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--color);
	border-right: 25px solid transparent;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBRDL.o-version {
	border-top: 25px solid var(--color);
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	transform: rotate(270deg);
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	-webkit-transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triBRDL2.d-version {
	margin-left: 60px;
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-right: 25px solid transparent;

}

.trapULL2.d-version {
	border-bottom: 25px solid var(--color);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(270deg);
	height: 0;
	width: 40px;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: -10px;
	margin-right: -7px;
}

.triO-add.r-version {
	margin-left: 45px;
	margin-top: 10px;
	width: 0;
	height: 0;
	border-top: 25px solid var(--color);
	border-left: 25px solid transparent;
	position:absolute; 
	opacity: 1; 
}