@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');

body {
	margin-left: 90px;
	text-align: left;
	bottom: 0;
	right: 0;
	min-height: 100vh;
	background: rgba(255, 209, 224, 1);
	background: -moz-linear-gradient(top, rgba(255, 209, 224, 1) 0%, rgba(255, 209, 224, 1) 5%, rgba(115, 215, 240, 1) 63%, rgba(147, 147, 250, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 209, 224, 1)), color-stop(5%, rgba(255, 209, 224, 1)), color-stop(63%, rgba(115, 215, 240, 1)), color-stop(100%, rgba(147, 147, 250, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 209, 224, 1) 0%, rgba(255, 209, 224, 1) 5%, rgba(115, 215, 240, 1) 63%, rgba(147, 147, 250, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 209, 224, 1) 0%, rgba(255, 209, 224, 1) 5%, rgba(115, 215, 240, 1) 63%, rgba(147, 147, 250, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 209, 224, 1) 0%, rgba(255, 209, 224, 1) 5%, rgba(115, 215, 240, 1) 63%, rgba(147, 147, 250, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 209, 224, 1) 0%, rgba(255, 209, 224, 1) 5%, rgba(115, 215, 240, 1) 63%, rgba(147, 147, 250, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1e0', endColorstr='#9393fa', GradientType=0);
}


.hoverBox {
	position: relative;
    display: inline-block;
}

.hoverBox .hoverText {
/*	visibility: hidden;*/
    width: 120px;
    background-color: white;
	opacity: .5; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.hoverBox:hover .hoverText {
 visibility: visible;
    opacity: 1;
}


.hoverBox .hoverText::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

div {
	padding: 5px;
	margin-bottom: 10px;
}

h1 {
	border-left: 100px rgb(255, 255, 255, 0) solid;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	letter-spacing: -.1ch;
	float: left;
	width: 100%;
	font-weight: 500;
	font-kerning: auto;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: white;
	letter-spacing: 5px;
	font-size: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	font-weight: 400;
}

a {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .5ch;
	position: relative;
	margin: 20px;
	padding: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255, 0.5);
	border-bottom: 3px rgb(255, 255, 255, 0.5) solid;
	/*
	transition: ease .1s;
	-webkit-transition: ease .1s;
*/
}

a:before {

	font-size: 10px;
	margin-right: 10px;
}

a:after {
	content: '';
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0px;
	background: white;
	transition: ease .1s;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	;

}

a:hover {
	border-bottom: 3px rgb(255, 255, 255, 1) solid;
	color: white;
	opacity: 1;
}

a:hover:after {
	height: 100%;
	opacity: 0.4;
}

/*
a {
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
	text-decoration: none;
	border: 2px white solid;
	font-size: 15px;
	color: white;
	padding: 15px;
	transition: ease .1s;
-webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a:hover::before {
	
	border-left: 50px white solid; 
	content: '';

}

a:after {
	border-left: 0px white solid; 
	 content: '';
}
*/

.buttonWrapper {
	display: inline;
	position: relative;
}

.headerwrapper {

	display: inline;
	float: left;
	width: 100%;
}

.bigWrapper {
	margin-top: -5%;
	display: inline-grid;
	margin-left: 40%;
	width: 50%;
}

.minorWrapper {
	min-width: 50%;
}

.smol {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 8px;
	color: white;
	margin-top: -30px;
	margin-left: 10px;
	float: left;
	border-left: 100px transparent solid;
}

img {
	float: left;
}

.imgwrap {
	transform: translateX(-130px) translateY(-50px);
	position: absolute;
}
